:root{
	--temp-colour: #CCCCCC;
	--temp-min-colour: #0077bb;
	--temp-max-colour: #FF5555;
	--page-text-colour: #DDDDDD;
	--titles-colour: #FFFFFF;
	--page-background-colour: #222222;
	--observation-background-colour: #242424;
	--wind-needle-colour: #FF5555;
	--wind-gauge-colour: #0077bb;
}

/*
settings div hidden by default
*/
.settings {
	display:none;
	position:relative;
	background-color:#ffffff;
	margin:auto;
	padding: 1% 0;
	width: 98%;
	height: 96%;
}

.ct-series-a .ct-line {
  /* Set the colour of this series line */
 
  /* Control the thikness of your lines */
  stroke-width: 2px;
   stroke: var(--page-text-colour);
}
  
body, html {
  width:100%;  height:100%; margin:0; padding:0;
  overflow:hidden;
  font-family: Arial, Helvetica, sans-serif;
  	background-color: var(--page-background-colour);
	color: var(--page-text-colour);
	font-size: 2vw;
	position:relative;
}

.obs-title{
	color: var(--titles-colour); grid-area:obs-title;font-size:90%; text-align:center;
}

.air-temperature-min, .air-temperature-min-time{
 color: var(--temp-min-colour);
}

.air-temperature-max, .air-temperature-max-time{
 color: var(--temp-max-colour);
}

.air-temperature-max-time, .air-temperature-min-time {
font-size:60%;
}

.air-temperature-min, .air-temperature-max{
 font-size:70%;
}

.feels-like-title, .feels-like {font-size:70%;}

.air-temperature-title { grid-area: title;text-align:center;}
.air-temperature { font-size: 300%;grid-area: deg; text-align:center;}
.feels-like-title {grid-area: feels-title; text-align:center;align-self:end;}
.feels-like {grid-area: feels; text-align:center;}
.air-temperature-min { grid-area: min;   text-align:center;align-self:end;}
.air-temperature-max { grid-area: max;  text-align:center;align-self:end;}
.air-temperature-min-time { grid-area: min-time; text-align:center;}
.air-temperature-max-time { grid-area: max-time; text-align:center;}

.temperature-container {
	display:grid;
	position:relative;
	width: 100%;
	height: 100%;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: minmax(0, 10%) minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
		grid-template-areas: 
			" title title title title title title title title title title title title "
			" deg deg deg deg deg deg deg deg deg deg deg deg"
			" feels-title feels-title  feels-title feels-title feels-title feels-title feels-title feels-title feels-title feels-title feels-title feels-title "
			" feels feels feels feels feels feels feels feels feels feels feels feels"
			". . min min min . . max max max . ."

            ". . min-time min-time min-time . . max-time max-time max-time . . ";
}

.wind-beaufort {grid-area:3;text-align:center;align-self:center;}

.chart-title  { grid-area: 1 ;text-align:center;}
.chart { grid-area: 2 ; width:100%;height:100%;justify-self:center;position:relative; text-align:center; }
				

.wind-gust-title {grid-area:gust-title;text-align:center;align-self:end;}
.wind-gust {grid-area:gust;text-align:center;align-self:start;}
.wind-avg-title {grid-area:avg-title;text-align:center;align-self:end;}
.wind-avg {grid-area:avg;text-align:center;align-self:start;}
.wind-holder {grid-row:2;position:relative;width:100%;height:100%;}
.wind-compass {zIndex=-1;left:0px;top:0px;position:absolute;width:100%;height:100%;}
 
 .wind-compass-container {
	display:grid;
	left:0px;
	top:0px;
	position:absolute;
	width: 100%;
	height: 100%;
	grid-template-areas: 
			" . gust-title .  avg-title ."
			" . gust  .  avg ."
			". . . . ."
			". . . . ."
			". . . . ."
            ". . . . .";
	grid-template-columns:  minmax(0, 0.3fr) minmax(0, 1fr) minmax(0, 1fr)  minmax(0, 1fr)  minmax(0, 0.3fr);
	grid-template-rows:  minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) ;
}

.wind-container {
	display:grid;
	position:relative;
	width: 100%;
	height: 100%;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: minmax(0, 10%) minmax(0, 6fr) minmax(0, 1fr);

}

.chart-container {
	display:grid;
	position:relative;
	width: 100%;
	height: 100%;


	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr) minmax(0, 6fr) ;

}

.date, .time, .battery-title, .power-mode-title,.battery-value, .power-mode{font-size:50%;text-align:center;align-self:center;}
/*.time {font-size:50%;grid-area: 2/1/3/5;text-align:center;align-self:center; }

.battery-title {font-size: 50%;grid-area: 1/2;text-align:center;align-self:center;}
.power-mode-title {font-size: 50%;grid-area: 1/2/2/3;text-align:center; align-self:center;}
.battery-value { font-size: 50%;grid-area: 2/1/2/2;text-align:center; }
.power-mode {font-size: 50%;grid-area:2/2/2/3; text-align:center;}

/*

.date {font-size:50%;grid-area: 1/1/2/5;text-align:center;align-self:center;}
.time {font-size:50%;grid-area: 2/1/3/5;text-align:center;align-self:center; }

.battery-title {font-size: 50%;grid-area: 1/2;text-align:center;align-self:center;}
.power-mode-title {font-size: 50%;grid-area: 1/2/2/3;text-align:center; align-self:center;}
.battery-value { font-size: 50%;grid-area: 2/1/2/2;text-align:center; }
.power-mode {font-size: 50%;grid-area:2/2/2/3; text-align:center;}

.battery-container {
	display:grid;
	position:relative;
		width: 100%;
	height: 100%;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr) ;
}

.date-container {
	display:grid;
	position:relative;
		width: 100%;
	height: 100%;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr) ;
}
*/

.sunrise-image {font-size:60%;grid-area: image-rise;text-align:center; }
.solarnoon-image {font-size:60%;grid-area: image-noon; text-align:center;}
.sunset-image {font-size:60%;grid-area: image-set;text-align:center; }

.sunrise-time {font-size:75%;grid-area: time-rise;text-align:center;}
.solarnoon-time {font-size:75%;grid-area:time-noon;text-align:center;}
.sunset-time {font-size:75%;grid-area: time-set;text-align:center;}


.solar-container {
	display:grid;
	position:relative;
		width: 100%;
	height: 100%;  
	grid-template-areas: 
			"obs-title obs-title obs-title"
			"image-rise image-noon image-set"
            "time-rise time-noon time-set";
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	grid-template-rows: minmax(0, 10%) minmax(0, 1fr) minmax(0, 1fr);
}

.grid-tl {grid-area: top-left;background-color:var(--observation-background-colour);}
.grid-tm {grid-area: top-centre;background-color:var(--observation-background-colour);}
.grid-tr {grid-area: top-right;background-color:var(--observation-background-colour);}

.grid-ml {grid-area: centre-left;background-color:var(--observation-background-colour);}
.grid-mm {grid-area: centre-centre;background-color:var(--observation-background-colour);}
.grid-mr {grid-area: centre-right;background-color:var(--observation-background-colour);}

.grid-bl {grid-area: bottom-left;background-color:var(--observation-background-colour);}
.grid-bm {grid-area: bottom-centre;background-color:var(--observation-background-colour);}
.grid-br {grid-area: bottom-right;background-color:var(--observation-background-colour);}

.console-container {
	display:grid;
	margin:auto;
	padding: 1% 0;
	grid-row-gap: 1vh;
	grid-column-gap: 1vh;
	position:relative;
	width: 98%;
	height: 96%;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 0.1fr);
	grid-template-areas: 
		" top-left top-centre top-right"
		" centre-left centre-centre centre-right"
		" bottom-left bottom-centre bottom-right";
	
}